<main>
  <section class="featured-movies">
    <h2>Movies <%=@category.first.name%></h2>
    <div class="movie-grid margin">
    <% @category.first.movies.each do |movie| %>
      <div class="movie">
        <%=image_tag movie.image ,class: "style_image" %> 
        <h5 class="card-title">Movie : <%=movie.name%></h5>
        <h6><p class="card-text">Type :<%= movie.category.name %></p></h6>
        <h6><p class="card-text">Rating :<%=movie.rating%><span class="fa fa-star checked"></p></h6>
        <h6><p class="card-text">Released_on :<%=movie.released_on%></p></h6>
        <%= link_to 'Details', movie %>
      </div>
    <% end %>
    </div>
</section>

<footer class='footer-content'>
  <h3>Movie Buzz</h3>
  <p>Welcome to Movie Buzz, your ultimate destination for all things cinema! Our app is designed to provide you with the latest updates, reviews, trailers,and news about your favorite movies and TV shows.With a user-friendly interface and a vast collection of content, we strive to keep you informed and entertained.</p>
  <ul class="socials">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
  </ul>
  <div class="footer-bottom">
    <p>copyright &copy;2023 <a href="http://127.0.0.1:3000/">Movie Buzz</a>| Design By @ Mohit Bodkhe  </p>
  </div>
</footer>
