<main>
  <section class="featured-movies">
    <h2>Movies</h2>
    <div class="movie-grid margin">
    <% @movies.each do |movie| %>
      <div class="movie">
        <%=image_tag movie.image ,class: "style_image" %> 
        <h5 class="card-title">Movie : <%=movie.name%></h5>
        <h6><p class="card-text">Type :<%= movie.category.name %></p></h6>
        <h6><p class="card-text">Rating :<%=movie.rating%><span class="fa fa-star checked"></p></h6>
        <h6><p class="card-text">Released_on :<%=movie.released_on%></p></h6>
        <%= link_to 'Details', movie %>
      </div>
    <% end %>
    </div>
  </section>

  
</main>

  <footer>
    <!-- Footer content -->
  </footer>




 









