<div class="container">
  <div class="image">
    <%= image_tag @movie.image ,size:20*20,class: "style_image" %>
  </div>
  <div class="details">
    <h3>Movie : <%= @movie.name %></h3>
    <p><span class='size'>Type :  </span><%=  @movie.category.name %></p>
    <p><span class='size'>Director :  </span><%= @movie.director %></p>
    <% if !(@movie.released_on > Date.today)  %>
      <p><span class='size'>Rating : </span><%= @movie.rating %><span class="fa fa-star checked"></span></p>
    <% end %>
    <p><span class='size'>Storyline :  </span><%= @movie.description %></p>
    <p><span class='size'>Released On : </span><%= @movie.released_on %></p>
    <% if user_signed_in? && current_user.admin? %>
      <button type="button" class="btn btn-outline-warning"><%= link_to "Edit Movie", edit_movie_path ,class: "custom-link" %></button>
      <button type="button" class="btn btn-outline-warning"><%= link_to "Destroy", movie_path(@movie),class: "custom-link", data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
      </button>
    <% end %>
    <hr>
     <% if !(@movie.released_on > Date.today)  %>
      <h2>Reviews</h2>
      <% @movie.reviews.each do |review| %>
        <p><span class='size'>Star :  </span><%= review.star %></p>
        <p><span class='size'>Comment :  </span><%= review.body %></p>
        <% if user_signed_in? && current_user.id == review.user_id || user_signed_in? && current_user.admin? %>
          <button type="button" class="btn btn-outline-warning"><%= link_to "Edit Review", edit_movie_review_path(@movie,review),class: "custom-link" %></button>
          <button type="button" class="btn btn-outline-warning"><%= link_to "Destroy", movie_review_path(@movie,review), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                          } ,class: "custom-link" %>
          </button>
          <hr>
        <% end %>
      <% end %>
    <% end %>
    <hr>

  <div class="details">
    <% if user_signed_in? && current_user.reviews && !(@movie.released_on > Date.today)  %>
      <h3>Add a Review:</h3>
      <%= form_with model: [ @movie, @movie.reviews.build ] do |form| %>
        <p>
          <%= form.label :star %><br>
          <%= form.select :star, options_for_select(1..5), {}, class: "form-control" %>
        </p>
        <p>
          <%= form.label :body %><br>
          <%= form.text_area :body %>
        </p>
        <p>
          <%= form.submit %> 
        </p>
      <% end %>
    <% end %>
  </div>
  
  </div>
</div>
 
 <footer class='footer-content'>
  <h3>Movie Buzz</h3>
  <p>Welcome to Movie Buzz, your ultimate destination for all things cinema! Our app is designed to provide you with the latest updates, reviews, trailers,and news about your favorite movies and TV shows.With a user-friendly interface and a vast collection of content, we strive to keep you informed and entertained.</p>
  <ul class="socials">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
  </ul>
  <div class="footer-bottom">
    <p>copyright &copy;2023 <a href="http://127.0.0.1:3000/">Movie Buzz</a>| Design By @ Mohit Bodkhe  </p>
  </div>
</footer>