<%=  form_for(@review, url: movie_review_path(@movie)) do |form| %>
  <div>
    <%= form.label :star %><br>
   <%= form.select :star, options_for_select(1..5), {}, class: "form-control" %>
  </div>
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>